<div class="container">
    <div class="col-md-12 text-center">
        <h1>TestyCodeiz AI Bot</h1>
        <hr>
        <ng-container *ngFor="let message of messages">
            <div class="message" [ngClass]="{'from':message.author==='bot','to':message.author==='user'}">
                {{message.content}}</div>
        </ng-container>
    </div>

    <div class="col-md-12 text-center">
        <ng-template #dialogInfo>
            <label for="nameField"></label>
        </ng-template>
        <label *ngIf="messages.length ===0; else dialogInfo" for="nameField"></label>
        <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="Type your Message here...."><br>
        <button class="btn btn-primary" (click)="sendMessage()">Ask TCAI</button>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
       <span [className]="'float-right'">Total Messages : {{messages.length}}</span>
    </div>

</div>

