<ul>
    <h3>This ia TestyCodeiz AI Bot which is created by Mr. Pappu Kumar Keshari using Angular ...</h3>
    <hr>
    <h2>Click On Chat Button</h2>
    <h4>You Can Ask Questions like ...</h4>
    <li>hi</li>
    <li>Hi</li>
    <li>how are you</li>
    <li>How are you</li>
    <li>what is angular</li>
    <li>What is Angular</li>
    <li>god</li>
    <li>God</li>
    <li>dog</li>
    <li>Dog</li>
    <li>what is AI</li>
    <li>What is AI</li>
    <li>Despite above you If you type anything then it will display : I can't understand. Can you please repeat other wise contact with : => Pappu Kumar Keshari</li>
</ul>